<div class="row">
    <button pButton pRipple type="button" class="p-button-text text-left col-12" icon="pi pi-chevron-right"
        iconPos="right" label="Utiliser le dataset par défaut" routerLink="/step2/1"></button>

    <button pButton pRipple type="button" class="p-button-text text-left col-12" icon="pi pi-chevron-right"
        iconPos="right" label="Importer un dataset"></button>

    <button pButton pRipple type="button" class="p-button-text text-left col-12" icon="pi pi-chevron-right"
        iconPos="right" label="Générer un dataset"></button>
</div>