<div class="bg-light min-vh-100">
    <div class="container">

        <div class="row d-flex justify-content-between">
            <button type="button" class="btn btn-light btn-lg" (click)=cancel()>
                <i class="pi pi-chevron-left"></i>
            </button>

            <button type="button" class="btn btn-light btn-lg" routerLink="">
                <i class="pi pi-home"></i>
            </button>
        </div>

        <div class="row">
            <div class="col-12 text-center text-blue mb-5">
                <h1 class="font-weight-bold">
                    Datachallenge
                </h1>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>